<?php

/*
    This file is part of Dash Ninja.
    https://github.com/elbereth/dashninja-be

    Dash Ninja is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Dash Ninja is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Dash Ninja.  If not, see <http://www.gnu.org/licenses/>.

 */

// Path to the cache folder (files will be created in there, best if outside www access)
DEFINE('CACHEFOLDER',"/home/dashninja-be/cache/");

// MySQL dtabase/user to use (it needs read & write access to the database)
DEFINE('MYSQLUSER',"your_mysql_user");
DEFINE('MYSQLPASS',"something_random");
DEFINE('MYSQLDATABASE',"dashninja");
DEFINE('MYSQLHOST',"localhost");

?>
